/* latin */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
  
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Indie Flower', cursive;
    font-weight: 200;
    height: 100vh;
	margin: 1vh 3vw;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 4px solid black;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    cursor: pointer;
}


input[type="checkbox"]:checked {
    height: 1.5rem;
    width: 1rem;
    rotate: 45deg;
    content: '\2713';
    border: 4px solid black;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
}

#app span, #app a{
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

input[type="text"] {
    font-family: 'Indie Flower', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
    border: 2px solid black;
    margin-left: 5px;
}

.tambah {
    width: 30rem;
    border: 2px solid black;
    padding: 9px 9px;
    margin-bottom: 2rem ;
}